<h1>Groups</h1>
<p>
    <button type="button" class="btn btn-secondary" onclick="group.createModal()">Create New</button>
</p>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Max Student</th>
            <th>School</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="groups"></tbody>
</table>

@*CREATE MODAL*@
<div class="modal fade" id="createModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title text-light">Create Group</h5>
            </div>
            <div class="modal-body">
                <form id="createForm">
                    <div class="col mb-3">
                        <label for="createName" class="form-label">Group Name</label>
                        <input type="text" class="form-control" id="createName" name="name">
                    </div>
                    <div class="col mb-3">
                        <label for="createMaxStudents" class="form-label">Max Student</label>
                        <input type="text" class="form-control" id="createMaxStudents" name="maxStudents">
                    </div>
                    <div class="col mb-3">
                        <label for="createSchoolFk" class="form-label">School</label>
                        <select id="createSchoolFk" class="form-select" name="schoolFk"></select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="group.closeCreateModal()">Cancel</button>
                <button type="button" class="btn btn-success" onclick="group.save()">Save</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/group/crud.js?@DateTime.Now.Millisecond"></script>
    <script>
        $(document).ready(function () {
            group.getSchools();
            group.getGroups();
        });
    </script>
}