<h1>Student</h1>
<p>
    <button type="button" class="btn btn-secondary" onclick="student.createModal()">Create New</button>
</p>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>BirthDate</th>
            <th>Sex</th>
            <th>Group</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="students"></tbody>
</table>

@section Scripts {
    <script src="~/js/student/crud.js?@DateTime.Now.Millisecond"></script>
    <script>
        $(document).ready(function () {
            student.getStudents();
        });
    </script>
}